@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color : #FF6A00;
    --primary-grad-end: #F6405E;
    --primary-text-color: #fff
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
}

body {
    overflow-x: hidden;
}




/* Hero Section */

#hero {
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero-image {
    object-fit: cover;
    height: 100vh;
    width: 100vw;
}

/* Header */

header {
    position: absolute;
    inset: 0 0 0 0;
    display: flex;
    padding: 4rem 2rem;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
}


/* Nav Elements */

.nav-logo {
    height: 6rem;
}

.primary-navigation {
    display: flex;
    z-index: 1000;
    gap: 1rem;
    padding: .5rem;
    backdrop-filter: blur(1rem);
}

#nav-toggle {
    position: absolute;
    z-index: 1001;
    right: 2rem;
    width: 3rem;
    height: 3rem;
    background: url(./assets/icons/hamburgermenu.svg) round;
    border: none;
    display: none;
    
}

.nav-link {
    list-style: none;
}

.nav-link > a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .05rem;
    color: var(--primary-text-color);
}

/* Hero Content */

#hero-content {
    position: absolute;
    width: 100%;
    display: flex;
    padding: 2rem;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
}

/* For aligning the countdown and logo */
#hero-cdandlogo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


/* Countdown Timer */

#countdown-timer {
    padding: 2rem;
    display: grid;
    aspect-ratio: 1 / 1;
    background: linear-gradient(180deg, var(--primary-color) 0%, var(--primary-grad-end) 100%);
    border-radius: 1rem;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    color: var(--primary-text-color);
    text-align: center;
}


#countdown-timer > hr {
    grid-column: span 2;
    margin: 1rem 0;
    height: .3rem;
    background: var(--primary-text-color);
}

.time-value {
    font-weight: 900;
    font-size: 2.5rem;
}

.time-format {
    font-weight: 900;
    font-size: 1.2rem;
}


#hero-logo > img {
    width: 45rem;
    /* height: 5rem; */
}



/* Hero Button */
#hero-button {
    margin: auto;    
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 1.5rem 3rem;
    color: var(--primary-text-color);
    border: var(--primary-text-color) 3px solid;
    background: rgba(0, 0, 0, 0);
}

#hero-button:hover {
    border-image: linear-gradient(var(--primary-color), var(--primary-grad-end)) 30
}



/* Media Queries */

@media screen and (max-width: 480px) {
    
    html {
        font-size: 45%;
    }

    /* Navbar */
    
    #nav-toggle {
        display: block;
    }

    #nav-toggle[aria-expanded='true'] {
        background: url(./assets/icons/hamburgerclose.svg) round;
    }

    .primary-navigation {
        position: fixed;
        inset: 0;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.507);
        transform: translateX(100%);
        transition: transform ease-in-out .3s;
    }
    
    @supports (backdrop-filter: blur(1rem)) {
        .primary-navigation {
            backdrop-filter: blur(1rem);
        }
    }

    .primary-navigation[data-visible='true'] {
        transform : translateX(0)
    }
    
    .nav-logo {
        display: none;
    }

}

@media screen and (max-width: 768px) {
    html {
        font-size: 60%;
    }


}

@media screen and (max-width: 1024px) {
    html {
        font-size: 80%;
    }
}



/*Agenda section*/
#agenda {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.abox {
    width: 90vw;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px; 
    margin: 5rem;
    padding: 2rem;
}


.flex-container{
    display: flex;
}


.flex-container div{
    flex:1 1 auto;
    width: 50%;
    height: 50%;
    margin: 3rem;
}

.grad {
    background-image: linear-gradient(180deg,#000000,#832C29);
}

h3{
  font-size: 4.375rem;
  font-weight: 600;
  background-image: linear-gradient(to left, #FF7707, #e48d1c);
  color: var(--primary-color);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-align: center;
}


#agenda-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
h6{
    color: white;
    font-size: x-large;
}
