@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    /* --primary-color : #FF6A00; */
    /* --primary-grad-end: #F6405E; */
    --primary-text-color: #fff;
    --additional-grad: #1185ea;
    --primary-color: #1185ea;
    --additional-grad-end: #A00F92;
    --primary-grad-end: #f6405e;
    --lighter-black: #222222;
    --gray-theme: #D9D9D9;
    --echo-black: #000000;
    --icon-grad-start: #A4BFEF;
    --icon-grad-end: #6A93CB;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
}

body {
    overflow-x: hidden;
}




/* Hero Section */

#hero {
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./assets/images/heroimage.jpg);
    background-attachment: fixed;
}


/* Header */

header {
    position: absolute;
    inset: 0 0 0 0;
    display: flex;
    padding: 4rem 2rem;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
}


/* Nav Elements */

.nav-logo {
    height: 6rem;
}

.primary-navigation {
    display: flex;
    z-index: 1000;
    gap: 1rem;
    padding: .5rem;
    backdrop-filter: blur(2rem);
}

#nav-toggle {
    position: absolute;
    z-index: 1001;
    right: 2rem;
    width: 4rem;
    height: 4rem;
    background: url(./assets/icons/hamburgermenu.svg) round;
    border: none;
    display: none;
    
}

.nav-link {
    list-style: none;
}

.nav-link > a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .05rem;
    color: var(--primary-text-color);
}

.nav-link[class*="active"] > a {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(90deg, var(--primary-color) 0%, var(--primary-grad-end) 100%);
}

.nav-link:hover:not(.nav-link[class*="active"]) > a {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(90deg, var(--additional-grad) 0%, var(--additional-grad-end) 100%);
    transition: all ease-in-out .2s;
}

/* Hero Content */

#hero-content {
    position: absolute;
    width: 100%;
    display: flex;
    padding: 2rem;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
}

/* For aligning the countdown and logo */
#hero-cdandlogo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


/* Countdown Timer */

#countdown-timer {
    padding: 2rem;
    display: grid;
    aspect-ratio: 1 / 1;
    background: linear-gradient(225.5deg, var(--primary-color) 0%, var(--primary-grad-end) 100%);
    border-radius: 1rem;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    color: var(--primary-text-color);
    text-align: center;
}


#countdown-timer > hr {
    grid-column: span 2;
    margin: 1rem 0;
    height: .3rem;
    background: var(--primary-text-color);
}

.time-value {
    font-weight: 900;
    font-size: 2.5rem;
}

.time-format {
    font-weight: 900;
    font-size: 1.2rem;
}


#hero-logo > img {
    width: 45rem;
    /* height: 5rem; */
}



/* Hero Button */
#hero-button {
    margin: auto;    
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 1.5rem 2.5rem;
    color: var(--primary-text-color);
    border: var(--primary-text-color) 3px solid;
    background: rgba(0, 0, 0, 0);
}

#hero-button:hover {
    border-image: linear-gradient(var(--primary-color), var(--primary-grad-end)) 30;
}




/* Media Queries */


@media screen and (min-width: 1024px) {
    html {
        font-size: 80%;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 60%;
    }
        
}


@media screen and (max-width: 480px) {
    
    
    html {
        font-size: 45%;
    }

    /* Navbar */
    
    #nav-toggle {
        display: block;
        transition: transform .3s ease-in;
    }

    #nav-toggle[aria-expanded='true'] {
        background: url(./assets/icons/hamburgerclose.svg) round;
        transform: rotate(90deg);
        transition: transform .3s ease-in;
    }

    .primary-navigation {
        position: fixed;
        inset: 0;
        align-items: center;
        justify-content: center;
        gap: 4rem;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.507);
        transform: translateX(100%);
        transition: transform ease-in-out .3s;
        font-size: 2rem;
    }
    
    @supports (backdrop-filter: blur(1rem)) {
        .primary-navigation {
            backdrop-filter: blur(1rem);
        }
    }

    .primary-navigation[data-visible='true'] {
        transform : translateX(0)
    }
    
    .nav-logo {
        display: none;
    }

    #hero-cdandlogo {
        flex-direction: column;
        gap: 10rem;
    }

    #countdown-timer {
        order: 1;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        aspect-ratio: auto;
        background: linear-gradient(90deg, var(--primary-color) 0%, var(--primary-grad-end) 100%);

    }

    #countdown-timer > hr {
        display: none;
    }


}


/*Icon section*/
.icon-section{
    padding: 3rem;
    display: flex;
    justify-content: space-evenly;
    background:#EAEEF2;
}


.iconbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}


.iconbox h1,h2 {
    color: black;
    text-align: center;
}

.circle {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    background: linear-gradient(225deg, var(--primary-color) 0%, var(--additional-grad-end) 100%);
}

.icon-section img{
    width: 60%;
    height: 60%;
    margin: auto;
}

/* About the College */


#college-about {
    height: 50rem;
    background-image: url(./assets/images/college.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 5rem;
}

#college-about-content > h3 {
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    text-align: center;
}

#college-about-content {
    padding: 5rem;
    background: white;
    width: 80%;
    /* height: 100%; */
    color: var(--lighter-black);
    font-size: 1.5rem;
    font-weight: 400;
    text-align: justify;
    line-height: 4rem;
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.3);

}


/* Angle property for border animation */
@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
  }


/* Border Animation */

@keyframes rotate {
    to {
      --angle: 360deg;
    }
  }


 



/*Agenda section*/
#agenda {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.abox {
    
    width: 90vw;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 0.75rem; 
    margin-bottom: 12rem;
    margin-top: 1rem;
    padding: 1rem;
}


.flex-container{
    display: flex;
}

@media screen and (max-width: 900px){
    .flex-container{
        display: flex;
        flex-direction: column;
        }
    
}


.flex-container div{
    flex:1 1 auto;
}
.grad-img{
    background-image: url(./assets/images/abstract-image-of-blue-white-marbling.jpg);
}
.grad {
    
    /*background-size: cover;*/
    background-color: rgb(234, 238, 242,0.3);
    width: 100%;
    background-size: cover;
    padding: 2rem;
    padding-bottom: 420px;
}

 .agenda-text h3 {
    
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 80px;
    line-height: 117px;
    text-align: right;
    margin-top: 1rem;
    color: #FFFFFF;
    
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
}

.agenda-box{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

#agenda-img {
    width: 90%;
    height: 90%;
    object-fit: contain;
}


h6{
    color: black;
    font-size: x-large;
    text-align: left;
}
.abbox{
    background-color:var(--gray-theme);
    border-left: solid #161464;
    border-width: 1rem;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem;
    margin-bottom: 0.5rem;
    

}
.agenda-img-box{
    background-color: #D9D9D9;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 0.75rem;
    margin: 1rem;
}
/*Schedule section*/
.schedule h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 80px;
    line-height: 117px;
    text-align: right;
    margin-top: 1rem;
    color: #FFFFFF;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
}
.schedule-box{
    width: 70vw;
    border: 2px solid #000000;
    background: var(--gray-theme);
    border-radius: 20px;
    padding: 1rem;
    padding-bottom: 6rem;
}
@media screen and (max-width: 900px) {
    .schedule-box{
        width: 100%;
    }
    .schedule h2{
        font-size: 50px;
        text-align: center;
    }
    .schedule-box{
        width: 60vw;
        margin-left: 2.rem ;
        margin-bottom: 1rem;
    }
    .carousel-button{
        width: 1rem;
        height: 1rem;
        font-size: 0.5rem;
    }
    .carousel-button.prev{
        left:2px;
    }
    .carousel-button.next{
        right:0px;
        z-index: 2;
    }
}

.schedule-box h3{
    display: inline ;
    font-size: large;
    font-weight: 700;
    
}
.schedule-box h1{
    color: var(--primary-color);
    font-family: 'Roboto';
    font-size: x-large;
    margin-bottom: 2rem;
    
}
.schedule-box > h6{
    margin-bottom: 1rem;
    font-size: large;
    display: inline;
    font-weight: normal;
}
.schedule-slide{
    position: absolute;
    left:13.5%;
    opacity:0;
    transition: 200ms ease-in-out;
    transition-delay: 200ms;
}
.schedule-slide[data-active]{
    opacity: 1;
    transition-delay: 0ms;
}
.schedule > ul {
    margin: 0;
    padding: 0;
    list-style: none;

}
.carousel-button{
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    font-size: 5rem;
    color: var(--primary-text-color);
    background-color: rgba(0, 0, 0, 0);
    border: 0rem;
    transform: translateY(-50%);
    position: absolute;
    margin-top: 10rem;
}
.carousel-button:hover{
    color:var(--lighter-black);
    background-color: rgba(0, 0, 0, .2);
}
.carousel-button.prev{
    left:2rem;
}
.carousel-button.next{
    right:2rem;
}

/* Tracks Section */

#tracks-section {
    background: var(--echo-black);
    padding: 6rem 9rem;
}

#tracks-section > h3 {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 5rem;
    font-style: italic;
    text-align: left;
    margin-bottom: 2rem;
}

#tracks-container {
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
}


.track-container {
    cursor: pointer;
    border: 1px solid white;
    color: var(--primary-text-color);
    display: flex;
    flex-direction: column;
}

.track-container[data-visible='true'] > .track-heading-container {
    background: var(--primary-text-color);
    color: var(--echo-black);
    border-bottom: 2px solid var(--echo-black);
}

.track-heading-container {
    display: flex;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
}


.track-number-container {
    border: 1px solid white;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    border-radius: 50%;
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    font-style: italic;
}

.track-container[data-visible='true'] > .track-heading-container > .track-number-container {
    border: 1px solid var(--echo-black);
}


.track-heading {
    font-weight: 200;
    font-size: 2rem;
    font-family: serif;
    
}

.track-container[data-visible='true'] > .track-heading-container >  .track-heading {
    font-weight: 400;
}

.track-info {
    display: none;
    height: 40rem;

    position: relative;
    background-size: cover;
}

.track-container[data-visible='true'] > .track-info {
    display: block;
}

.track-info-overlay {
    background: linear-gradient(180deg, rgba(27, 27, 27, 0) 0%, #000000 76.45%);
    height: 100%;
    width: 100%;
    display: flex;
    padding: 4rem;
    font-weight: 300;
    font-size: 2rem;
    flex-direction: column;
    justify-content: end;
    color: var(--primary-text-color);
}


/* Speakers Section */

#speakers {
    display: grid;
    padding: 4rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
    row-gap: 3rem;
    column-gap: 2rem;
    
}

#speakers-heading {
    background-clip: texts;
    -webkit-background-clip: text;
    /* background-image: linear-gradient(180deg, var(--additional-grad) 0%, var(--additional-grad-end) 100%); */
    color: black;
    font-weight: 700;
    font-size: 5rem;
    font-style: italic;
    text-align: center;
    margin: 3rem;
}

.speaker {
    color: var(--primary-text-color);
    padding-bottom: 2rem;
    max-height: 45rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
    
    border-top: 7px solid transparent;
    border-right: 7px solid transparent;
    background-image: linear-gradient(black, black), linear-gradient(var(--primary-color), var(--primary-grad-end));
    color: white;
    background-origin: border-box;
    background-clip: padding-box, border-box;
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 1024px) {

    #speakers {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 768px) {
    #speakers {
        grid-template-columns: 1fr 1fr;
    }
}


@media screen and (max-width: 400px) {
    .speaker {
        height: 35rem;
    }
    
}

.speaker:hover {
    background-image: linear-gradient(black, black), linear-gradient(var(--primary-grad-end), var(--primary-color));
    transform: translateY(-4px);
    transition: transform ease-in-out .3s;    
}


.speaker > img {
    object-fit: cover;
    width: 100%;
}

.speaker > p {
    width: 90%;
}

.speaker-name {
    font-size: 1.5rem;
    font-weight: 700;
}

.speaker-desc {
    font-size: 1.1rem;
    font-weight: 400;
}

.speaker > hr {
    width: 60%;
}

.speaker-links {
    display: flex;
    gap: 1rem;
}

.speaker-links > img {
    width: 2rem;
}


/* footer   */

footer{
    background-image: linear-gradient(#1185EA, #A00F92);
    height: 260px;
}

footer > h3{
    padding-top : 45px;
    text-align: center;
    color: white;
    font-size: 20px;
}

footer > p,a{
    padding-top: 10px;
    text-align: center;
    font-size: 15px;
    color: white;
    text-decoration: none;
}

.style-one {
    margin: auto;
    padding-top: 33px;
    width: 80%;
    height: 1px;
}

.wrap{
    padding-top: 30px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 168px;
}

.icon{
    filter: invert(100%);
}





/* Animated Gradient Background */

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.test-background{
    background-color: #EAEEF2;

}
/* About the College */
.about{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #EAEEF2;
}
.about-box{
    width: 90vw;
    display: flex;
    background-color: var(--primary-text-color);
    box-shadow: 0 8px 8px -4px var(--lighter-black);
    margin: 2rem;
    margin-bottom: 4rem;
    padding: 2rem;
    border-radius: 0.5rem;

}
@media screen and (max-width: 900px) {

    .about-box{
        display: block
    }
    
    .sideytvdo iframe{
        width:fit-content;
    }
    
}
.sideytvdo{
   
   position: relative;
}

.about-text{
    padding: 1rem;
    
}
.about-text h1{
    padding-bottom: 0.1rem;
 
    border-bottom: solid var(--echo-black);
    width: max-content;
    
}
.about-text p{
    font-size: 1.5rem;
    margin-top: 2.5rem;
}